<nav class="navbar navbar-expand-sm bg-light">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link text-color-black" href="#">Ginger Whale</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Support</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Privacy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Stories</a>
    </li>

  </ul>

</nav>