$bg-image-1: url(/assets/images/paradise.jpg);

.bg-container {
  position: fixed;
  height: 100%;
  width: 100%;
}

.bg-image {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: $bg-image-1;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-bar {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: black;
}

.boat {
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url(/assets/images/png/ship.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 367px;
  left: 80px;
  opacity: 0.8px;
  -webkit-animation-name: floating-2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  animation-name: floating-2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.ball {
  position: absolute;
//   border: 1px solid red;
  height: 100px;
  width: 100px;
  background-image: url(/assets/images/png/ball.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 400px;
  left: 201px;
  -webkit-animation-name: floating; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.whale {
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url(/assets/images/png/whale.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 393px;
  left: 480px;
  -webkit-animation-name: floating; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.birds {
  position: absolute;
  height: 200px;
  width: 200px;
  background-image: url(/assets/images/png/birds.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 54px;
  left: 511px;
  -webkit-animation-name: flying; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  animation-name: flying;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes floating {
  0%{top: 400px;}
  25%{top: 405px;}
  50%{top: 410px;}
  75%{top: 405px;}
  100%{top: 400px;}
}

/* Standard syntax */
@keyframes floating {
    0%{top: 400px;}
  25%{top: 405px;}
  50%{top: 410px;}
  75%{top: 405px;}
  100%{top: 400px;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes flying {
    0%{top: 54px;}
    25%{top: 59px;}
    50%{top: 64px;}
    75%{top: 59px;}
    100%{top: 54px;}
  }
  
  /* Standard syntax */
  @keyframes flying {
      0%{top: 54px;}
    25%{top: 59px;}
    50%{top: 64px;}
    75%{top: 59px;}
    100%{top: 54px;}
  }

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes floating-2 {
    0%{top: 367px;}
    25%{top: 370px;}
    50%{top: 373px;}
    75%{top: 370px;}
    100%{top: 367px;}
  }
  
  /* Standard syntax */
  @keyframes floating-2 {
      0%{top: 367px;}
    25%{top: 370px;}
    50%{top: 373px;}
    75%{top: 370px;}
    100%{top: 367px;}
  }
