<div class="bg-container">
  <div class="bg-image"></div>
  <div class="top-bar">
    <app-navigation></app-navigation>
  </div>

  <div class="boat"></div>
  <div class="whale"></div>
  <div class="ball"></div>
  <div class="birds"></div>
</div>